html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  flex: 1;
}
 
section, body {
  background-image: url('assets/images/bg.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgb(255, 250, 176);
}
